* {
    padding: 0;
    margin: 0;
    box-sizing:border-box ;
  }

html{
    scroll-behavior: smooth;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url('/assets/wood.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%
}

header{
    width: 100%;
    display: block;
}

div.menu-container{
    width: 60%;
    margin: 0 auto;
    display: flex;
    padding-top: 15px;
}

div.recipes-logo{
    width: 5.5%;
    font-size: 60px;
}

a.site-logo{
    color: rgb(238, 163, 25);
}

div.menu-nav{
    width: 60%;
    font-size: 20px;
    margin: 0 auto;
    padding-top: 10px;
}

ul.nav{
    list-style: none;
    display: flex;
}

li.each-menu{
    padding: 10px;
}
a.menu-dec{
    text-decoration: none;
    color: white;
}

div.logo-me{
    font-size: 30px;
    padding-top: 18px;
}

ul.logo-me{
    display: flex;
    list-style: none;
}

a.logo-me{
    color: white;
    padding-left: 10px;
}

div.search-background{
    width: 60%;
    text-align:center;
    background-color: aliceblue;
    margin: 0 auto;
    height: 500px;
    padding-top: 100px;
    display: block; 
}

div.title{
    background-color: bisque;
    width: 45.5%;
    height: 80px;
    margin: 100px auto 0px auto;
    font-size: 18px;
    padding: 10px;
}

div.form-outline{
    text-align:center;
    background-color: black;
    height: 70px;
    margin: 50px auto  0  auto;
    width: 100%;
    display: block;
}

div.search{
    background-color: bisque;
    margin: 0 auto;
    height: 70px;
    width: 40%;
}

input.form-control{

}



